@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Ket qua dang ky</h2>
    <p>Cam on ban @ViewBag.MSSV - @ViewBag.HoTen da dang ky chuyen nganh @ViewBag.ChuyenNganh.</p>
    <p>So luong sv da dang ky giong ban la: @ViewBag.SoLuong</p>

}
